PRIVATE_KEY=0xYOUR_DEV_WALLET_PRIVATE_KEY
RITUAL_RPC=https://rpc.ritualfoundation.org
NEXT_PUBLIC_RITUAL_RPC=https://rpc.ritualfoundation.org
NEXT_PUBLIC_RITUAL_CHAIN_ID=1979
NEXT_PUBLIC_RITUALTOM_ADDRESS=0xYOUR_DEPLOYED_RITUALTOM_CONTRACT
